input[type="radio"]{
    width:33%;
    line-height: 1.0;
    
    }

    .flavoursmaincontainer{
        line-height: 3.0;
    }
    .checkandflavours{
        background-color:black;
        color:white;
       
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        width:200px;
        height:80px;
    }
