input[type="radio"]{
  width:33%;
  line-height: 1.0;
  opacity: 0;
  }

  .flavoursmaincontainer{
      line-height: 3.0;
  }
  .flavoursheader{
      font-family: fantasy;
      font-size: 30px;
      color:brown;
      padding-left:30px;
  }
  .checkandflavours{
      background-color:black;
      color:white;
      margin-bottom: 20px;
      width:200px;
      height:80px;
  }
