input[type="checkbox"]{
    width:30%;
    line-height: 1.7;

}

.varietiesmaincontainer{
    line-height: 3.0;
}

.checkandvalue{
    background-color:brown;
    color:white;
    margin-bottom: 20px;
    width:200px;
    
}
.checkandvalue{}